<section class="grid gap-10 md:grid-cols-2 items-center my-10">

    <div class="max-w-sm justify-self-center">
        <img [src]="product!.images[0]" [alt]="product?.title" class="rounded-2xl w-full aspect-square">
    </div>

    <article class="flex flex-col space-y-10">
        <div class="md:block flex justify-between order-1 md:space-y-5">
            <h1 class="text-xl lg:text-3xl font-bold">{{product?.title}}</h1>
            <h2 class="text-lg lg:text-2xl font-semibold ">{{product?.price | currency}}</h2>
        </div>

        
        <div class="order-2">
            <h4 class="md:text-lg font-semibold mb-1">Description</h4>
            <p class="text-slate-500">
                {{product?.description}}
            </p>
        </div>

        <button (click)="add()" class="md:order-1 mb-10 order-3 rounded-full mx-auto md:ml-0 font-semibold text-white bg-green-500 px-12 py-3 hover:drop-shadow-xl hover:bg-green-600 active:bg-yellow-500">Add to Cart</button>

    </article>
</section>

