<h2 class="text-3xl font-bold text-center p-5">My Cart</h2>

<ul class="container max-w-3xl  mx-auto">
  <li *ngFor="let item of cartItems$ | async" class="">
    <a class="flex justify-evenly items-center  space-y-2  p-5 rounded-xl ">
      <img [src]="item.images[0]" alt="{{item.title}} image" class="rounded-xl object-cover bg-gray-500 w-[5em] h-[5em]">
      <div>
        <p class="capitalize text-slate-400">{{item.title}}</p>
        <p class="font-bold">${{item.price}}</p>
      </div>
      <button  class="px-4 py-2 bg-red-400 text-white rounded-full">Remove</button>
    </a>
  </li>
</ul>

